// sidebar
$menuText:#304156;
$menuActiveText:#2853FF;
$subMenuActiveText:#2853FF;

$menuBg:#ffffff;
$menuHover:rgba(40, 87, 255, 0.1);

$subMenuBg:#fff;
$subMenuHover:rgba(40, 87, 255, 0.1);

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
